In [1]:
import sqlite3

In [2]:
import datetime

In [3]:
conn = sqlite3.connect("log.db")

In [4]:
conn.execute("create table employee (name text, timestamp timestamp)")

In [5]:
conn.close()

In [6]:
conn=sqlite3.connect("log.db")

In [7]:
c=conn.execute("select * from employee")

In [8]:
c.description

(('name', None, None, None, None, None, None),
 ('timestamp', None, None, None, None, None, None))

In [9]:
c.close

In [11]:
conn.close

In [12]:
conn=sqlite3.connect("log.db")

In [13]:
c = conn.cursor()

In [27]:
name = "aa"
timestamp = datetime.datetime.now()
print(name)
print(timestamp)
c.execute("insert into employee (name,timestamp) values(?,?)", (name, timestamp))
conn.commit()

aa
2024-03-15 20:08:52.235587

In [28]:
c.close()
conn.close()

In [29]:
conn = sqlite3.connect("log.db")
c = conn.execute("select * from employee")

In [30]:
row = ""
for row in c:
    print(row)

('aa', '2024-03-15 20:08:52.235587')

In [31]:
c.close()
conn.close